{
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.{stories,test}.{js,jsx}"],
        "optionalDependencies": false
      }
    ]
  }
}
