# Build directory
dist

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Yarn integrity file
.yarn-integrity

# Tests
coverage
.nyc_output
junit.xml

# Dotenv configuration
.env

# macOS system files
.DS_Store
._.DS_Store

# Editors
.vscode
.idea
*.swp
