@import '../../styles/_colors.scss';
@import '../../styles/_mixins.scss';
@import '../../styles/_breakpoints.scss';

.root {
  @include box-shadow();

  width: 500px;
  height: 500px;
  padding: 20px;
  background: $white;
  text-align: center;

  @media (max-width: $xs) {
    width: 90%;
    height: auto;
    margin: 5%;
  }
}
