<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="title" content="Reducks Starter" />
    <meta
      name="description"
      content="Reducks Starter is a highly opinionated React/Redux boilerplate based on the re-ducks approach."
    />
    <meta name="application-name" content="Reducks Starter" />
    <meta name="apple-mobile-web-app-title" content="Reducks Starter" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#84fab0" />
    <meta name="msapplication-TileColor" content="#84fab0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="<%= htmlWebpackPlugin.options.publicPath %>apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="<%= htmlWebpackPlugin.options.publicPath %>favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="<%= htmlWebpackPlugin.options.publicPath %>favicon-16x16.png"
    />
    <link rel="manifest" href="<%= htmlWebpackPlugin.options.publicPath %>site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <title>Reducks Starter</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Open+Sans"
    />
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () =>
          navigator.serviceWorker.register(
            '<%= htmlWebpackPlugin.options.publicPath %>service-worker.js',
          ),
        );
      }
    </script>
  </head>
  <body>
    <noscript>
      If you're seeing this message, that means
      <strong>JavaScript has been disabled on your browser</strong>, please
      <strong>enable JavaScript</strong> to make this app work.
    </noscript>
    <div id="root"></div>
  </body>
</html>
