@import '../../styles/_colors.scss';

.root {
  border-top: 1px solid $light;
  border-bottom: 1px solid $light;
  margin-top: 20px;
  margin-bottom: 20px;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;

    li {
      flex: 1;
      list-style: none;
      text-align: center;

      a {
        color: $dark;
        text-decoration: none;

        :hover {
          color: lighten($dark, 10%);
        }
      }
    }
  }
}
